---
import '../styles/global.css'

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const posts = await Astro.glob('./posts/*.md')

const pageTitle = 'Blog';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='description' content='proverbdesk - interactive super blog || Righteous Noise Productions || Clark Creative Services (CCS)'>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>

    <h2>this is the blog page.</h2>
    <p>Soon, I will add journal entries.</p>
    <p>this site will contain the inner machinations of my mind.</p>
	
		<ul>
			{posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

	</BaseLayout>

		<script>
			import '../scripts/menu.js'
		</script>
	</body>
</html>
